/* Introduction */
.profile-picture-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.profile-picture {
  max-width: 384px;
  height: auto;
  border-radius: 4rem;
  border: 4px solid black;
}
.characteristic-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.introduction {
  text-align: center;
}

/* Projects */
.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.project-list-item {
  flex: 1 49%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.project-title {
  font-family: Acme;
  margin: 0;
}
.project-technologies {
  text-align: center;
  height: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.project-technology {
  white-space: nowrap;
}
.project-technology:not(:last-child) {
  margin-right: 1em;
}

.project-description {
  margin: 0;
  font-style: italic;
}

.project-links {
  all: unset;
  display: flex;
  gap: 1rem;
}
.project-link {
  color: var(--light-color);
}
